<script src="/javascripts/adminDashboard.js" defer></script>

<div class="flex flex-col min-h-screen">
    <!-- Top Bar -->
    <div class="grid grid-flow-col grid-cols-10 bg-logo-navy h-[100px]">
        <div class="col-span-2">
            <img src="/images/hippo-logo.png" alt="Hippo Capital Logo" class="h-[100px]" />
        </div>

        <div class="col-span-3 flex justify-center items-center gap-10">
            <a href="/adminDashboard">
                <img src="/images/home-icon.png" alt="Home" class="h-7 w-7" />
            </a>

            <a href="/adminDashboard">
                <div class="relative group inline-block cursor-pointer text-white border-[1px] border-logo-navy hover:border-custom-gold p-[10px]">
                    Accounts
                </div>
            </a>

            <a href="/adminDashboard">
                <div class="relative group inline-block cursor-pointer text-white border-[1px] border-logo-navy hover:border-custom-gold p-[10px]">
                    Create User
                </div>
            </a>

            <a href="/" class="text-white">Log off</a>
        </div>
    </div>
</div>
