
<header class="bg-logo-navy h-[100px] min-w-[700px]">
    <div class="flex justify-between items-center w-1/2">
        <div class="flex-1 basis-[5%] max-w-[300px] min-w-[300px]">
            <img src="/images/hippo-logo.png" alt="Hippo Capital Logo" class="h-[100px]" />
        </div>

        <a href="/" class="flex-1 basis-[5%] max-w-[100px] min-w-[90px] flex justify-center-safe items-center border-2 border-custom-gold m-[5px] hover:bg-logo-navy-hover transition duration-200 ease-in-out hover:scale-105">
            <div>
                <p class="m-[6px] text-center text-custom-gold transition duration-200 ease-in-out hover:text-white">Personal</p>
            </div>
        </a>

        <a href="/business" class="flex-1 basis-[5%] max-w-[100px] min-w-[90px] flex justify-center-safe items-center border-2 border-custom-gold m-[5px] hover:bg-logo-navy-hover transition duration-200 ease-in-out hover:scale-105">
            <div>
                <p class="m-[6px] text-center text-custom-gold transition duration-200 ease-in-out hover:text-white">Business</p>
            </div>
        </a>

        <div class="w-[50px]"></div>

        <a href="/register" class="flex-1 basis-[5%] max-w-[100px] min-w-[90px] flex justify-center-safe items-center border-2 border-custom-gold m-[5px] hover:bg-logo-navy-hover transition duration-200 ease-in-out hover:scale-105">
            <div>
                <p class="m-[6px] text-center text-custom-gold transition duration-200 ease-in-out hover:text-white">Register</p>
            </div>
        </a>

        <a href="/login" class="flex-1 basis-[5%] max-w-[100px] min-w-[90px] flex justify-center-safe items-center border-2 border-custom-gold m-[5px] hover:bg-logo-navy-hover transition duration-200 ease-in-out hover:scale-105">
            <div>
                <p class="m-[6px] text-center text-custom-gold transition duration-200 ease-in-out hover:text-white">Log in</p>
            </div>
        </a>
    </div>
</header>

<img
        src="/images/hippo-capital-index-page-display-image.png"
        alt="man on building with laptop on lap"
        class="w-[40w] h-screen object-cover absolute right-0 top-0 transition duration-500 ease-in-out hover:brightness-95 [clip-path:polygon(20%_0%,100%_0%,100%_100%,0%_100%)] max-[1200px]:hidden"
/>

<div class="absolute top-1/2 left-25 transform -translate-y-1/2 z-10">
    <h1 class="text-lg sm:text-[25px] md:text-[50px] lg:text-[85px] font-bold text-logo-navy max-w-[650px]">
        Online Banking<br />made simple.
    </h1>
</div>





